fastapi>=0.100.0,<0.200.0 #==> Fast API framework for building APIs

uvicorn[standard]>=0.23.0 #==> ASGI server for running Fast API applications

python-multipart>=0.0.6   #==> To handle files uploads in FAST API

moviepy>=1.0.3  #==> Video editing library (for processing video/audio)

websockets>=11.0.0  #==> WebSockets library (for real time communication)

python-dotenv>=1.0.0 #==> To load environment variables from .env file
